.game-content{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.balotas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.bingo-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.final{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}